:root {
  /* Colours */
  --color-text: #1e009f;
  --color-primary: #9ccee1;
  --color-secondary: #23282a;
  --color-dark: #ffb800  ;
  --color-bg: #f6f6f6;

  /* Fonts */
  --font-roboto: "Roboto";
}
